.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name Aki
      %ul.side-header__box__menu
        = link_to "#", class: "side-header__box__menu__new-group" do
          = icon("fa", "edit")
        = link_to "#", class: "side-header__box__menu__edit-user" do
          = icon("fa", "cog")
  .groups
    .group
      %p.group__group-name team aki
      %p.group__latest-message よろしくお願いします